@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "header.css";
@import "main.css";

* {
    margin: 0;
    padding: 0;
}
.mainBody {
    width: 100%;
    position: sticky;
}

.header {
    height: 220px;
    width: 100%;
    font-family: 'Lobster', sans-serif;
    background-image: url("../images/background.jpg");
    background-position: center;
    position: relative;
    top: 0;
}

.main {
    height: 2100px;
    width: 96%;
    position: relative;
    background-size: cover;
    animation: bg-сhange 20s infinite;
    padding: 0% 4% 1% 0;
}

.footer {
    top: 2320px;
    width: 100%;
    background: lightslategray;
    text-align: center;
    padding: 10px;
    position: absolute;
}

.imgList {
    weight: 30px;
    height: 30px;
}

a {
    color: black;
    font-stretch: extra-condensed;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}
a:hover {
    transform: scale(1.2);
}


@keyframes bg-сhange {
     from {
        background-color: tan;
    }
    50% {
        background-color: cadetblue;
    }
    to {
        background-color: peru;
    }
}



