@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Lobster', sans-serif;
    height: 259px;
    background-image: url("../images/background.jpg");
    background-position: center;
}

.header h1 {
    font-size: 80px;
    text-align: center;
    color: whitesmoke;
}

.header h2 {
    font-size: 40px;
    text-align: center;
    color: aqua;
}

.main {
    background: darkred;
    padding: 20px;
}

.table {
    background: lightcoral;
    margin: 20px;
}
li {
    list-style: none;
    text-align: center;
    font-size: 32px;
    font-family: 'Lobster', sans-serif;
    color: blueviolet;
    background-size: cover;
    animation: bg-сhange 20s infinite;
    margin: 20px 0px;
    padding: 10px;
}
.imgList {
    weight: 30px;
    height: 30px;
}
table{
    align-self: center;
    text-align-all: center;
    padding: 10px;
}
td {
    width: 250px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}
a:hover {
    transform: scale(1.2);
}


#actionFilms {
    color: darkblue;
    text-decoration-line: underline;
}

#comedyFilms {
    color: blueviolet;
    text-decoration-line: underline;
}

#historyFilms {
    color: brown;
    text-decoration-line: underline;
}

.main>ul>div:nth-child(1)
{
    background-color: blanchedalmond;
}

.main>ul>div:nth-child(2)
{
    background-color: lightslategray;
}
.main>ul>div:nth-child(3)
{
    background-color: tan;
}


@keyframes bg-сhange {
     from {
        background-color: azure;
    }
    25% {
        background-color: deepskyblue;
    }
    50% {
        background-color: aqua;
    }
    75% {
        background-color: deepskyblue;
    }
    to {
        background-color: azure;
    }
}



